* {
  background-color: lightblue;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#updateForm {
  display: none;
}
