* {
  font-family: comic Verdana, Geneva, Tahoma, sans-serif
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

#signupForm,
#signupForm_Form,
#loginForm,
#loginForm_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background-color: lightsteelblue;
  height: 200px;
}

h4 {
  color: green;
}

#updateForm,
#weight_container {
  display: none;
}

